<head>
    <title>Mcube Mirror Inc.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="./vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./vendor/simple-line-icons/css/simple-line-icons.css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="./css/new-age.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/signin.css" rel="stylesheet">
</head>

<body>
</body>



