<template name="homepage">
    <!-- Bootstrap core JavaScript -->
    <!--<script src="vendor/jquery/jquery.min.js"></script>-->
    <!--<script src="vendor/popper/popper.min.js"></script>-->
    <!--<script src="vendor/bootstrap/js/bootstrap.min.js"></script>-->

    <!--&lt;!&ndash; Plugin JavaScript &ndash;&gt;-->
    <!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

    <!--&lt;!&ndash; Custom scripts for this template &ndash;&gt;-->
    <script src="./js/new-age.min.js"></script>
    <script src="./js/mcube.js"></script>
    <script src="./js/jquery.ajaxfileupload.js"></script>


    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><h2>Mcube Mirror</h2></a>
            <button id="exit" class="btn-link btn btn-radius btn-outline navbar-toggler-right btn-lg" type="button"
                    data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                Exit <i class="fa fa-sign-out"></i>
            </button>
        </div>
    </nav>
    <section class="download text-center" id="download" style="padding-top:50px;padding-bottom:0px">
        <div class="container">
            <!--1st ROW OF PANELS-->
            <div class="row make-columns">
                <!-- WEATHER PANEL -->
                <div class="col-lg-4 col-md-6 mb">
                    <div class="weather-2 pn" valign="middle">
                        <!--<h1 id="Hour">15</h1><b> : </b>-->
                        <!--<h1 id="Min">00</h1><br>-->
                        <!--<h4 id="Month">10</h4><b> / </b><h4 id="Date">19</h4><b> </b><h5 id="Day">Wed</h5><br>-->
                        <!--<h4>Singapore</h4><br><br>-->

                        <label class="btn btn-radius btn-info active ">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked="{{checkedNews 1}}"> CNN News
                        </label><br>
                        <label class="btn btn-radius btn-info ">
                            <input type="radio" name="options" id="option2" autocomplete="off"  checked="{{checkedNews 2}}"> BBC News
                        </label><br>
                        <!--<label class="btn btn-info">-->
                            <!--<input type="radio" name="options" id="option3" autocomplete="off"> Local News-->
                        <!--</label>-->
                    </div>
                </div><!-- /col-md-4-->
                <div class="col-lg-4 col-md-6 mb">
                    <div class="product-panel-2 pn">
                        <!--data-toggle="modal" data-target="#photos"-->
                        <div class="badge badge-hot"><img
                                src="./img/photoicon.png" class="img-fluid" alt="" id="show_photo"></div>
                        <img src="./img/product.png" width="200" alt="" style="padding-top: 50px">
                        <h5 class="mt">Mcube Gallery</h5>
                        <h6>Experiencing memories</h6>
                    </div>
                </div>
                <!--/col-md-4 -->

                <!-- Spotify Panel -->
                <div class="col-lg-4 col-md-6 mb">
                    <div class="content-panel pn">
                        <div id="spotify">
                            <div class="col-xs-12 user">
                                <img src="./img/emailicon.png" class="img-circle" width="80">
                            </div>
                            <a class="btn btn-radius btn-warning btn-lg" id="google_login">Log In</a>
                        </div>
                        <h6 class="followers"><i class="fa fa-google"></i> <br> Connect to your google account <br> Show
                            your Email and Calendar.</h6>
                    </div>
                </div>
                <!--/col-md-4-->


                <!-- <div class="badges">
                  <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
                  <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
                </div> -->
            </div>
        </div>
    </section>
    <div class="modal fade" id="photos" tabindex="-1" role="dialog" aria-hidden="true">>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">×</button>
                    <h3 class="modal-title">My Photos</h3>
                </div>
                <div class="modal-body">
                    <div id="modal-carousel" class="carousel">
                        <div class="carousel-inner">

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Photo Preview</th>
                                    <th>Name</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each photolist}}
                                    <tr>
                                        <td><img src="{{fullpath}}" class="img-fluid img-circle" alt="..."></td>
                                        <td>Doe</td>
                                        <td>
                                            <button class="btn btn-info btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs" id="delete_photo" onclick="uploadImage()"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>

                        <!--<a class="carousel-control left" href="#modal-carousel" data-slide="prev"><i-->
                                <!--class="glyphicon glyphicon-chevron-left"></i></a>-->
                        <!--<a class="carousel-control right" href="#modal-carousel" data-slide="next"><i-->
                                <!--class="glyphicon glyphicon-chevron-right"></i></a>-->

                    </div>
                </div>
                <div class="modal-footer" style="justify-content: center;">
                    <input name="image_file" type="file" accept="image/jpeg" id="im_file">
                    <button class="btn btn-success" id="upload_photo"><i class="fa fa-upload fa-4x"></i> Upload
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="connect_dialog">/*fade*/
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                {{#with showDailog}}
                    <div class="modal-header">
                        <h4 class="modal-title">{{title}}</h4>
                    </div>

                    <div class="modal-body">
                        {{content}}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        {{#if bottom}}
                            <button id="scan_qrcode" type="button" class="btn btn-default" data-dismiss="modal">確定</button>
                        {{/if}}
                    </div>
                {{/with}}
            </div>
        </div>
    </div>

</template>