<template name="scandevice">
    <!-- Bootstrap core JavaScript -->
    <!--<script src="vendor/jquery/jquery.min.js"></script>-->
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <!--<script src="vendor/jquery/jquery.min.js"></script>-->
    <!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->
    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>

    <!--<script>-->
    <!--document.getElementById("nextpage").onclick = function () {-->
    <!--location.href = "SettingWifi.html";-->
    <!--}-->
    <!--$('#exampleModalCenter').modal('toggle')-->
    <!--</script>-->
    <!---->

    <form class="form-signin text-center">
        <h1><img src="img/mirror_Line_icon_1.png" class="img-fluid"/></h1>
        <h1 class="h1 mb-3">Find McubeMirror:</h1>
        <h1 class="h2 mb-3">Connect to Mcube Mirror</h1><h4 class="text-muted">Please turn on the bluetooth</h4>
        <div class="form-group">
            <select class="form-control" id="SelectMirror">
                {{#each showDevices}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <button class="btn btn-xl btn-primary btn-block" type="button" id="connect_bt">Check Out PIN</button>
        <p class="mt-5 mb-3 text-muted"></p>
    </form>

    <!--<div class="modal fade" id="entercodeModal">-->
        <!--<div class="modal-dialog modal-dialog-centered">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<h4 class="modal-title">Invitation Code</h4>-->
                <!--</div>-->

                <!--<div class="modal-body">-->
                    <!--Enter Code:<input type="text" id="invitationcode"/>-->
                <!--</div>-->

                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">確定</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <!-- Modal  tabindex="-1" role="dialog" aria-labelledby="entercodeModalCenterTitle"
         aria-hidden="true" -->
    <div class="modal fade" id="entercodeModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Input PIN CODE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Please input the 4 numbers shows on your Mirror.</h5>
                    <input class="form-control input-lg text-center" id="invitationcode" type="text" maxlength="4">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger ">Clear</button>
                    <button id="nextpage" type="button" class="btn btn-primary btn-block" data-dismiss="modal">Checked</button>
                </div>
            </div>
        </div>
    </div>

</template>