<template name="settingwifi">

    <form class="form-signin">
        <h1><img src="./img/wifi_line_setting_icon_1.png" class="img-fluid" /></h1>
        <h1 class="h4 mb-3">Connect to Wi-Fi </h1>
        <div class="form-group">
            <select id="select_wifi" class="form-control">
                {{#each showWifis}}
                    <option value="{{SSID}}">{{SSID}}</option>
                {{/each}}
            </select>
        </div>
        <label for="inputSSID" class="sr-only">Wi-Fi SSID</label>
        <!--<input type="SSID" id="inputSSID" class="form-control" placeholder="Wi-Fi SSID" required autofocus>-->
        <label for="inputPassword" class="sr-only">Password</label>
        <input id="passwd" type="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-xl btn-primary btn-block" type="button" id="setwifi">Connect</button>
        <p class="mt-5 mb-3 text-muted"></p>
    </form>

    <div class="modal" id="settingModal">/*fade*/
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                {{#with showDailog}}
                <div class="modal-header">
                    <h4 class="modal-title">{{title}}</h4>
                </div>

                <div class="modal-body">
                    {{content}}
                </div>

                <div class="modal-footer">
                    {{#if bottom}}
                        <button type="button" class="btn btn-default" data-dismiss="modal">確定</button>
                    {{/if}}
                </div>
                {{/with}}
            </div>
        </div>
    </div>

</template>