
<template name="layout">
    {{> Template.dynamic template=main}}
</template>

<template name="welcomepage">
    <header class="masthead container">
      <div class="container-fluid h-100">
        <div class="row h-100 ">
          <div class="col-lg-6 text-center my-auto">
            <img src="img/Mcubemirror_self.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 my-auto">
            <div class="header-content mx-auto">
              <!-- <h1 class="mb-5">Mcube Mirror provides a smart, stylish alternative to bathroom sconces, providing natural lighting and a soft glow on the edge of the mirror.</h1> -->
              <img src="img/welcomeLogo.png" class="img-fluid">
              <a id="start_scan" class="btn btn-radius btn-outline btn-xl js-scroll-trigger">Get To Start</a><br>
              <a href="" class="btn btn-xl js-scroll-trigger" style="color:white;" id="scan_qrcode">Scan QRcode to start</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Bootstrap core JavaScript -->
    <!--<script src="vendor/jquery/jquery.min.js"></script>-->
    <!--<script src="vendor/popper/popper.min.js"></script>-->
    <!--<script src="vendor/bootstrap/js/bootstrap.min.js"></script>-->

    <!-- Plugin JavaScript -->
    <!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>
    <script src="js/mcube.js"></script>

</template>
