<template name="deviceItem">
    <tr>
        <td align="center">
            <!--<a class="memberRemove" data-toggle="modal" data-backdrop="static" data-target="#removeCorp"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>-->
        </td>
        <td class="selectHere">{{name}}</td>
    </tr>
</template>
